<div class="container">
  <div *ngIf="blog" class="card">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div>
            <span>Title: {{ blog.title }}</span>
        </div>
        <div>
          <span>Content: </span>
          <p class="card-text">{{ blog.content }}</p>
        </div>
        <div>
          <span>Email: {{ blog.email }}</span>
        </div>
        <div>
          <span>Author: {{ blog.author }}</span>
        </div>
      </blockquote>
    </div>
  </div>
  <button class="btn btn-outline-danger" type="button" (click)="blogService.goBack()">Go back</button>
</div>