<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Blog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-blog">Create Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="edit-blog">Edit Blog</a>
          </li>
      </ul>
    </div>
  </nav>
