<div *ngIf="blog" class="container">
    <h2>Edit {{blog.title | uppercase}} Blog Details</h2>
    <form [formGroup]="blogUserForm">
        <div class="form-group">
            <label for="Title">Title</label>
            <input [(ngModel)]="blog.title" maxlength="30" minlength="3"class="form-control" placeholder="Add title" type="text" name="title" #title formControlName="title" required>
        </div>
        <div class="form-group">
            <label for="Content">Content</label>
            <input [(ngModel)]="blog.content" maxlength="500" minlength="3" class="form-control" placeholder="Add content" type="text" name="content" #content formControlName="content" required>
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            <input [(ngModel)]="blog.author" maxlength="30" minlength="3" class="form-control" placeholder="Author" type="text" name="author" #author formControlName="author" required>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input [(ngModel)]="blog.email" maxlength="30" minlength="3" class="form-control" placeholder="Email" type="text" name="email" #email formControlName="email" required>
        </div>
        <button class="btn btn-outline-success" type="button" (click)="editBlog()" [disabled]="!blogUserForm.valid" routerLink="edit-blog">Submit</button>
        <button class="btn btn-outline-danger" type="button" (click)="blogService.goBack()">Go back</button>
      </form>

</div>


