<div class="container">
  <h1>Create Blog</h1>
  <form [formGroup]="blogUserForm">
    <div class="form-group">
        <label for="Title">Title</label>
        <input maxlength="30" minlength="3"class="form-control" placeholder="Add title" type="text" name="title" #title formControlName="title" required>
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <input maxlength="500" minlength="3" class="form-control" placeholder="Add content" type="text" name="content" #content formControlName="content" required>
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input maxlength="30" minlength="3" class="form-control" placeholder="Name Surname" type="text" name="author" #author formControlName="author" required>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input maxlength="30" minlength="3" class="form-control" placeholder="email@gmail.com" type="text" name="email" #email formControlName="email" required>
    </div>
    <button class="btn btn-outline-success" type="button" (click)="createBlog(title,content,author,email,blogs)" routerLink="" [disabled]="!blogUserForm.valid">Submit</button>
  </form>
</div>