<div class="container">
  <h1 *ngIf="blogService.getRouteUrl()==''">My Blogs</h1>
  <h1 *ngIf="blogService.getRouteUrl()==='edit-blog'">Edit Blogs</h1>
  <h3 *ngIf="!blogs.length"> There are no blogs created</h3>
  <div style="padding: 20px 0px;" *ngFor="let blog of blogs | paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="card">
      <div class="card-header">
        <a routerLink="detail/{{blogService.blogIndex(blog)}}" *ngIf="blogService.getRouteUrl()==''">{{ blog.title | uppercase}}</a>
        <span *ngIf="blogService.getRouteUrl()=='edit-blog'">{{ blog.title | uppercase }}</span>
        <button style="float: right; color: red" type="button" class="btn btn-light" (click)="deleteBlog(blog,blogs)" *ngIf="blogService.getRouteUrl()==='edit-blog' && blogs.length">X</button>
        <button style="float: right; color: green" type="button" class="btn btn-light" routerLink="{{blogService.blogIndex(blog)}}" *ngIf="blogService.getRouteUrl()==='edit-blog' && blogs.length">Edit</button>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">
            {{ blog.content | cutString }}
          </p>
          <h1 *ngIf="blog.content.length > 10">...</h1>
          <footer class="blockquote-footer">{{ blog.author }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <pagination-controls align="center" class="page-link" (pageChange)="p =$event" *ngIf="blogs.length"></pagination-controls>
</div>

